<div fxLayout="column">

  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar class="light-brown">
      <!-- navbar container -->
      <div class="navbar-container" fxLayout="row">
        <!-- logo -->
        <button fxFlex class="navbar-link" routerLink="/" mat-button>nodebucket</button>
        <button fxFlex class="navbar-link" routerLink="/about" mat-button>about</button>
        <button fxFlex class="navbar-link" (click)="signOut()" mat-button>sign out</button>
      </div>

    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content light-brown">
        <p>
          &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link"
                                                           target="_blank">Bellevue University</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>

</div>
