/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo {
  width: 200px;
  height: 200px;
}

.light-brown {
  background-color:  #c4a98d;
}
